{% extends 'admin/base_site.html' %}
{% block title %}
Import via CSV
{% endblock %}
{% load i18n static %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:authentication_user_changelist' %}">Users</a>
</div>
{% endblock %}
{% block content %}
<div id="content-main">
    <form action="." method="POST" enctype="multipart/form-data">
    <div class="form-row">
        {{ form.csv_file.label_tag }} {{ form.csv_file }}
    </div>
    {% csrf_token %}
    <input type="submit" class="default" value="Upload CSV">
    </form>
</div>
<br />
{% endblock %}
